{% extends "base.html" %} {% block content %}

<h1> Favorites </h1>

<a href="/yelprestsearch"> <button class="">Yelp new</button></a>

<br> {% if favorites %} {% for fav in favorites %}
<h2>{{fav["rest_name"]}}</h2>
<h4>{% set rating=fav["rating"] %}
    {% if rating==1 %} &#9733; {% elif rating==1.5 %}&#9733;½
    {% elif rating==2 %}&#9733;&#9733; {% elif rating==2.5 %}&#9733;&#9733;½
    {% elif rating==3 %}&#9733;&#9733;&#9733; {% elif rating==3.5 %}&#9733;&#9733;&#9733;½
    {% elif rating==4 %}&#9733;&#9733;&#9733;&#9733;{% elif rating==4.5 %}&#9733;&#9733;&#9733;&#9733;½
    {% elif rating==5 %}&#9733;&#9733;&#9733;&#9733;&#9733; {% endif %}
</h4>
<h4>{{fav["number"]}}</h4> {% set url=fav["link"] %}

<a href="{{url}}" style="text-decoration: none">
            <i class="fa fa-yelp yelpcustom">  <b>Yelp it </b></i>
</a>
<br> {% endfor %}{% endif %} {% endblock %}
