{% extends "base.html" %} {% block content %}

<h1>Restaurants</h1> You are searching near by <b class="locate">{{location}}</b>


<br> {% if results %} {% set count = 0 -%} {% for res in results %}
<h3>{{res["name"]}}</h3> {% set rating=res["rating"] %}
<h2>
    {% if rating==1 %} &#9733; {% elif rating==1.5 %}&#9733;½ {% elif rating==2 %}&#9733;&#9733; {% elif rating==2.5 %}&#9733;&#9733;½ {% elif rating==3 %}&#9733;&#9733;&#9733; {% elif rating==3.5 %}&#9733;&#9733;&#9733;½ {% elif rating==4 %}&#9733;&#9733;&#9733;&#9733;
    {% elif rating==4.5 %}&#9733;&#9733;&#9733;&#9733;½ {% elif rating==5 %}&#9733;&#9733;&#9733;&#9733;&#9733; {% endif %}
</h2> {% set url=res["url"] %}
<a href="{{url}}" style="text-decoration: none">
            <i class="fa fa-yelp yelpcustom">  <b>Yelp it </b></i>
</a>
<br> &#9742; {{res["phone"]}} {% if username %}
<br>
<form>
    <!-- <input type="hidden" name="favorite_info" value="{{res}}"> -->
    <input type="hidden" name="favorite_name" id="favorite_name{{count}}" value="{{res['name']}}">
    <input type="hidden" name="favorite_url" id="favorite_url{{count}}" value="{{url}}">
    <input type="hidden" name="favorite_rating" id="favorite_rating{{count}}" value="{{rating}}">
    <input type="hidden" name="favorite_num" id="favorite_num{{count}}" value="{{res['phone']}}">
    <input type="hidden" name="favorite_yelp_id" id="favorite_yelp_id{{count}}" value="{{res['id']}}"> {% if res["fav_flag"] == 0 %}

    <input type="hidden" name="favorite_action" id="favorite_action{{count}}" value="add">
    <button type="button" id="submit_input" class="{{count}}">Add to Favorite</button> {% else %}

    <input type="hidden" name="favorite_action" id="favorite_action{{count}}" value="del">
    <button type="button" id="submit_input" class="{{count}}">Remove from Favorite</button> {% endif %}
</form> {% endif %}
<br> {% set count = count + 1 -%}
<br>{% endfor %}{% endif %}

<script>
    $(document).ready(function() {
        $(document).on('click', '#submit_input', function() {
            var count_num = this.className;
            var favorite_num = $("#favorite_num" + count_num).val();

            var favorite_name = $("#favorite_name" + count_num).val();
            var favorite_rating = $("#favorite_rating" + count_num).val();
            var favorite_url = $("#favorite_url" + count_num).val();
            var favorite_yelp_id = $("#favorite_yelp_id" + count_num).val();
            var action = $("#favorite_action" + count_num).val();

            $.ajax({
                url: "/adddelfavorite",
                type: "post",
                data: {
                    favorite_num: favorite_num,
                    favorite_url: favorite_url,
                    favorite_name: favorite_name,
                    favorite_rating: favorite_rating,
                    favorite_yelp_id: favorite_yelp_id,
                    action: action
                },
                success: function(response) {
                    alert('Added to fav.')
                    // $("#place_for_suggestions").html(response);
                },
                error: function(xhr) {
                    alert('Error')
                    //Do Something to handle error
                }
            });
        });
    });
</script> {% endblock %}
