{% extends "base.html" %} {% block content %}

<h1>Restaurants</h1> You are searching near by <b class="locate">{{location}}</b>


<br> {% if results %} {% for res in results %}
<h3>{{res["name"]}}</h3> {% set rating=res["rating"] %}
<h2>
    {% if rating==1 %} &#9733; {% elif rating==1.5 %}&#9733;½ {% elif rating==2 %}&#9733;&#9733; {% elif rating==2.5 %}&#9733;&#9733;½ {% elif rating==3 %}&#9733;&#9733;&#9733; {% elif rating==3.5 %}&#9733;&#9733;&#9733;½ {% elif rating==4 %}&#9733;&#9733;&#9733;&#9733;
    {% elif rating==4.5 %}&#9733;&#9733;&#9733;&#9733;½ {% elif rating==5 %}&#9733;&#9733;&#9733;&#9733;&#9733; {% endif %}
</h2> {% set url=res["url"] %}
<a href="{{url}}" style="text-decoration: none">
            <i class="fa fa-yelp yelpcustom">  <b>Yelp it </b></i>
</a>
<br> &#9742; {{res["phone"]}} {% if username %}
<br>
<form method='POST'>
    <input type="hidden" name="favorite" value="add">
    <input type="hidden" name="favorite_info" value="{{res}}">
    <button type="submit" class="">Add to Favorite</button>
</form> {% endif %}
<br>
<br>{% endfor %}{% endif %} {% endblock %}
