{% extends "base.html" %} {% block content %}

<h1>Yelp it!!!!</h1>

<form action="#" method="post">
    <label for="name">Search:</label>
    <input type="text" maxlength="50" name="searchitem" placeholder="Search anything">

    <label for="description">Location:</label>
    <input type="text" maxlength="50" name="location" placeholder="Location"> {% if error %}
    <div style="color:red">{{error}}</div>
    {% endif %}


    <button type="submit" id="submit" value="Search"></span>Search</button>
</form>
{% endblock %}
