{% extends "base.html" %} {% block content %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            {% if username %}
            <h1> Welcome, {{username}} </h1>
            <a href="/userhome/{{uid}}/recents"> <button class="btn btn-primary">Recent Search</button></a>
            <a href="/userhome/{{uid}}/favorites"> <button class="btn btn-primary">Favorites</button></a> <br><br><br>{% endif %}
            <h1 class="jumbotron-heading">Yelp it!!!!!</h1>
            <p class="lead text-muted"> <i class="fa fa-yelp yelpcustom">Yelp the food or business!!!! <br>  We can allow you to favorite the restaurant and keep track of your recent searches.</p>


                <form method="POST" action="/yelprestsearch">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" maxlength="50" name="searchitem" placeholder="Search" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" maxlength="50" name="location" placeholder="Location">
                            </div>
                        </div>
                    </div>

                    {% if error %}
                    <div style="color:red">{{error}}</div>
                    {% endif %}

                    <p>
                        <button type="submit" id="submit_form" class="btn btn-primary" type="submit"> Search </button>
                    </p>
                </form>


            </div>
        </section>

<script>
    $(document).ready(function() {
        console.log("ready!");
        getLocation();
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                var input1 = document.createElement("input");
                input1.setAttribute('type', 'text');
                input1.setAttribute('name', 'lat');
                input1.setAttribute('value', latitude);
                input1.setAttribute("hidden", true);

                var input2 = document.createElement("input");
                input2.setAttribute('type', 'text');
                input2.setAttribute('name', 'longi');
                input2.setAttribute('value', longitude);
                input2.setAttribute("hidden", true);

                var parent = document.getElementById("submit_form");
                parent.appendChild(input1);
                parent.appendChild(input2);
            });
        }
    }
</script>

{% endblock %}
